.search-box {
    display: flex;
    width:250px ;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.searchbar {
    width: 250px;
    padding: 12px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.46);
}

.searchbar::placeholder {
    font-family: 'poppins';
    color: rgba(0, 0, 0, 0.653);
}

.searchbar:focus {
    outline: none;
    border: 2px solid green;
}

.fa-search {
    position: absolute;
    top: 12px;
    right: 10px;
    color: black !important;
}

.products-shop {
    display:flex;
    flex-direction: column;
}



.noneword {
    text-align:center;
    font-size: 18px;
    margin-top: 20px;
}


@media only screen  and (max-width:768px){
    .padding-default {
        padding:  20px 10px;
    }

    .searchbar {
        width: 200px;
    }

    .shopContainer {
        width: 100%;

    }
    .fa-search {
        position: absolute;
        top: 12px;
        right: 33px;
        color: rgb(255, 255, 255);
    }

}